/* Add this to your existing CSS file or adjust it accordingly */
.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.aboutContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.aboutLeft {
  width: 50%;
  height: 100%;
}

.aboutLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.aboutRight p {
  width: 80%;
}

.aboutRight h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}
/* Add or adjust these styles in your existing CSS file */

.aboutRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 0 20px;
}

.aboutRight h1 {
  font-weight: 700;
  font-size: 2.5em;
  color: #333; /* Adjust the color as needed */
  margin-bottom: 10px;
  text-align: center;
}

.aboutRight h2 {
  font-weight: 500;
  font-size: 1.5em;
  color: #555; /* Adjust the color as needed */
  text-align: center;
}

.aboutRight p {
  font-size: 1.2em;
  color: #777; /* Adjust the color as needed */
  line-height: 1.5;
  text-align: justify;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .aboutRight {
    width: 100%;
  }
}
