/* styles/History.css (or any other file where you keep your styles) */

.history-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .history-header {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .total-amount {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .history-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .event-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .event-details img {
    max-width: 200px; /* Adjust the size as needed */
    margin-right: 15px;
  }
  
  .event-details div {
    flex-grow: 1;
  }
  .search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .event-details p {
    margin: 0;
  }
  
  /* Add more styles as needed */
  