/* Navbar styles */
.navbar {
  width: 100%;
  height: 100px;
  background-color: #077eda;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusted justification */
  padding: 0 20px; /* Adjusted padding */
}
/* Add this to your existing CSS file or adjust it accordingly */
.leftside {
  margin-right: auto; /* This pushes the logo to the left */
}

.leftside img {
  height: 60px; /* Adjust the height as needed */
}

/* Common styles for links and button */
.navbar a,
.navbar .menu-button button {
  color: white;
  text-decoration: none;
  margin: 0 20px; /* Adjusted margin */
}

/* Button styles */
.navbar .menu-button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Reorder icon styles */
.navbar .menu-button svg {
  font-size: 40px;
}

/* Hide menu button on larger screens */
@media only screen and (min-width: 600px) {
  .navbar .menu-button {
    display: none;
  }
}

/* Hide regular links on smaller screens */
@media only screen and (max-width: 600px) {
  .navbar .nav-links {
    display: none;
  }
}
